.cards {
    margin-top: 32px;
    display: flex;
    gap: 12px;
}

.card {
    width: 100px;
    display: flex;
    flex-direction: column;
    border: 3px solid #ffff;
    border-radius: 12px;
    padding: 16px;
}

.card .fa-twitter {
    color: #1da1f2;
    font-size: 32px;
}

/*instagram*/
.card .fa-instagram {
    color: #7b4ed4;
    font-size: 32px;
}

.card .title {
  
    font-size: 32px;
    font-weight: bold;
    margin-top: 12px;
}

.card .subtitle {
    font-size: 12px;
    color: gray;

}

.ffa-ellipsis-h {
    align-self: flex-end;
}